<a href="https://colab.research.google.com/github/riteshpachare2002/riteshp111/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("name:")
name2=input("age:")
print("my name is",name,"and i am ",name2,"yearold")

name:ritesh
age:23
my name is ritesh and i am  23 yearold

In [ ]:
 light =input("light:")
if(light=="red"):
      print("stop")
elif(light=="green"):
      print("go")
elif(light=="yellow"):
      print("look")
else:
      print("damage light")

light:red
stop

In [ ]:
marks= input("marks:")
marks=int(marks)
if(marks >= 90):
    print("Grade=A")
elif(marks >= 80 and marks < 90):
    print("Grade=B")
elif(marks >= 70 and marks < 80):
    print("Grade=C")
elif(marks >= 35 and marks < 70):
    print("Grade=D")
else:
     print("Grade=FAIL")

marks:34
Grade=FAIL

In [ ]:
marks=input('marks:')
print("pass")if int(marks)>= 35 else print("fail")

marks:55
pass

In [ ]:
#calculate simple interest
#this code is ringt but not understand
a=float(input("a:"))
b=float(input("b:"))
c=float(input("c:"))
print(a*b*c/100)

a:20
b:30
c:40
240.0

In [ ]:
#improved
p=float(input("p:"))
q=float(input("q:"))
r=float(input("r:"))
si =(p*q*r)/100
print(si)

p:4
q:5
r:6
1.2

In [ ]:
 #arithmetic oprators(+,-,*,/,%,**)
 a=5
 b=2
 print(a+b)
 print(a-b)
 print(a*b)
 print(a/b)
 print(a%b)#(%=modulo ,they show reminder value)
 print(a**b)#(**= they calculate power a^b)

7
3
10
2.5
1
25

Types of operators

In [ ]:
# 10 is less than 20
num= int (input("enter a number :"))

if num >=10:
  if num<=20:
    print("number is between 10 and 20")
  else:
    print("number is greater than 20")
else:
  print("number is less than 10")

enter a number :18
number is between 10 and 20

In [ ]:
#relational operators(==,!=,>,<,>=,<=)
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
#assigment operaters(=,+=,-=,/=,%=,**=)
num=10
num=num+10
num+=10
print(num)

30

In [ ]:
#assigment opretors(=,+=,-=,/=,%=,**=)
num=10
num+=5
print("num:",num)#0

num: 15

In [ ]:
from pickle import FALSE
#logical opretors(not,and,or)
a=50
b=30
print(not False)
print(not(a>b))

val_1 = True
val_2 = False
print("and operator:",val_1 and val_2)#both value are true=true,!=false
print("or operator:",val_1 or val_2)# 1 value are true

True
False
and operator: False
or operator: True

In [ ]:
#type conversion
a=2
b=4.25
sum = a + b #2.0+4,25 =>6.25
print(sum)

6.25

In [ ]:
#type casting
a,b= 1,"2"
c=int(b)
sum = a+c
print(sum)

3

In [ ]:
#converting
a=3.14
a=str(a)
print(type(a))
print(a)

<class 'str'>
3.14

In [ ]:
#input in python
name=(input("Enter name:"))
print("welcome",name)
print(type(name))

Enter name:ritesh
welcome ritesh
<class 'str'>

In [ ]:
#input in python(int,float)
val=int(input("enter a number:"))
val1=float(input("enter a number float:"))
print(val)
print(val1)
print(type(val))
print(type(val1))

enter a number:23
enter a number float:2.4
23
2.4
<class 'int'>
<class 'float'>

In [ ]:
#write a program to input 2 numbers &print their sum
a=int(input("enter a number:"))
b=int(input("enter a number:"))
sum=a+b
print(sum)

enter a number:3
enter a number:4
7

In [ ]:
#write a program to input side of a square & print area
side=float(input("enter side:"))
print("area=",side*side)

enter side:4
area= 16.0

In [ ]:
#write a program to input 2 floting point number & print their average.
a=float(input("enter a number:"))
b=float(input("enter a number:"))
avg=a+b/2
print("avg =",avg)

enter a number:16.5
enter a number:3.5
avg = 18.25

In [ ]:
#write a program to input 2 int numbers a and b print true if a is greater than or equal to b if not print false
a=int(input("enter a first num:"))
b=int(input("enter a second num:"))

print(a>=b)

enter a first num:4
enter a second num:3
True

In [1]:
#for loop
t=int(input("enter thenumber:"))
for a in range(1,20):
    result=t*a
    print(t,"*",a,"=",result)

enter thenumber:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76

In [2]:
for i in range (1,10,):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [3]:
l=["1","2","3","4","a","b","c","d"]
for i in l:
    print(i)

1
2
3
4
a
b
c
d

In [5]:
#revers command
t=int(input())
for a in range (19,0,-1)
  print(a)

1
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [22]:
#while loop
a=1
while a<=10:
  print("hello")
  a+=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [25]:
#while loop
a=10
while a>=1:
  print(a)
  a-=1

10
9
8
7
6
5
4
3
2
1

In [26]:
a=10
while a>=1:
  print("hello")
  a-=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [50]:
i=1
s=0
while (i<=10):
  s=s+i
  i+=1
print(s)

55